@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

* {
    box-sizing: border-box;
}

body {
   background-color: black;
   color: lime;
   font-family: 'Inconsolata', sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   overflow: hidden;
   margin: 0;
}

.header {
    position: absolute;
    top: 5px;
    text-align: center;
    text-wrap: wrap;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 50px;
    text-align: center;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}

@media (max-width: 580px) {
    body {
        flex-direction: column;
    }
}